<h3>各種設定(DB登録)</h3>

<form method="post" action="/config_db_new">

<% @json_data.each_with_index do |data, i| %>

<h3><%= i+1 %>.<%= data.to_a[0] %></h3>
<div id="data<%= i %>">
<table id="table" border="1" cellspacing="0" bordercolor="#000000">
<thead>
    <tr>
        <th>更新前</th><th>更新後(追加の場合は、登録)</th><th>削除</th>
    </tr>
</thead>

<tbody>
  <% data.to_a[1].each do |str| %>
    <tr>
        <td width="200">
            <%= h str %>
        </td>
        <td width="200">
            <input type="text" name="<%= data.to_a[0] %>[<%= h str %>]" size="30"/>
        </td>
        <td>
            <input type="checkbox" name="<%= i %>[<%= h str %>]" />
        </td>
    </tr>
  <% end %>
</tbody>
</table>
<input type="button" id="<%= i %>" value="追加" onclick="addCell(this);" />
</div>
<input type="submit" value="変更" />
<% end %>



</form>
<p><a href="/">ホームに戻る</a></p>


<script>
    var $counter = 0
    function addCell(obj){  // セル追加
        var id = obj.id
        var tbody = document.getElementById("data"+id).childNodes[1];
        // tbodyタグ直下のノード（行）を複製し、変数「list」に代入
        var list = document.createElement("tr");
        // 複製した行の2番目のセルを指定し、変数「td2」に代入
        list.innerHTML = '<td width="200"></td> \
        <td width="200"> \
            <input type="text" size="30"/> \
        </td> \
        <td> \
            <input type="checkbox" /> \
        </td>';
        list.childNodes[2].childNodes[1].setAttribute("id", $counter);
        tbody.appendChild(list);
        document.getElementById($counter).name = "new" + id + "[]";
        $counter++;
    }
</script>